@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>欢迎来到Web！</h2>
    <p>这是我的账号：<a href="https://github.com/YYL99">YYL99</a>.</p>
</div>
<div><select id="Select1">
    <option>这是1</option>
    <option>这是2</option>
</select></div>

<div>
    <input id="Button1" type="button" value="button" />
    <input id="Button1" type="button" value="button" />
    <input id="Reset1" type="reset" value="reset" />
    <input id="Text1" type="text" />
    <input id="File1" type="file" />
    <input id="Password1" type="password" />
    <input id="Checkbox1" type="checkbox" />
    <input id="Radio1" type="radio" />
    <input id="Hidden1" type="hidden" />
</div>

<div>
    <textarea id="TextArea1" rows="2" cols="20"></textarea>
    <table style="width:100%;"><tr>ni<td>&nbsp;</td>hao<td>&nbsp;</td>a<td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
    <img src="" alt="" />
    <hr />hhhhh
</div>